@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row " aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center mt-5">My Library</h1>
    </section>

    <section id="about-us" class="section my-lg-5">
        <div class="container">
            <h2>About Us</h2>
            <div class="content">
                <div class="text">
                    <p class="my-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi <br />
                        vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa.<br />
                        Lorem ipsum dolor sit amet, consectetur  adipiscing elit. Nulla purus neque, sodales egett<br /> eget ante. Aenean mollis
                        finibus mi nec sagittis. Mauris fermentum neque nec neque luctus finibus.<br /> lectus sed varius. Cras euismod
                        consectetur mi id gravida. Ut consectetur, elit at consectetur sollicitudin, <br /> lorem nulla accumsan odio, mattis egestas augue velit nec sapien. <br />
                        Donec facilisis sapien eget enim consequat tincidunt. Nullam <br />faucibus, dui in condimentum fringilla, est sem varius elit, eu suscipit ipsum orci in velit. <br />
                        Mauris velit justo, lobortis ac vestibulum pretium, malesuada a tortor. Integer convallis justo  <br /> Nullam metus arcu,
                        dapibus et facilisis sit amet, suscipit nec sapien. Praesent fermentum <br />lobortis quam, et ullamcorper leo condimentum dignissim. Suspendisse in facilisis tortor. <br />
                        Etiam at nisi massa. Quisque vestibulum venenatis tristique.

                        Aenean non venenatis nulla. Quisque lacus,<br /> molestie tincidunt velit. Vivamus malesuada sit amet nulla iaculis lobortis. <br />
                        Sed orci felis, iaculis et ex ac, tempor viverra augue. Praesent non semper velit. <br />Quisque vestibulum ornare dui eu blandit. Donec fermentum posuere <br />
                        enim porta viverra. Praesent non ante libero.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi <br />
                        vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa.<br />
                        Lorem ipsum dolor sit amet, consectetur  adipiscing elit. Nulla purus neque, sodales egett<br /> eget ante. Aenean mollis
                        finibus mi nec sagittis. Mauris fermentum neque nec neque luctus finibus.<br /> lectus sed varius. Cras euismod
                        consectetur mi id gravida. Ut consectetur, elit at consectetur sollicitudin, <br /> lorem nulla accumsan odio, mattis egestas augue velit nec sapien.
                    </p>
                </div>
            </div>
        </div>
    </section>



</main>