
@{
    ViewBag.Title = "Error!";
}

<h1 class="fs-1"> An Error  Occurred</h1>
<h5>
    This Action is not allowed since the related record is present<br /> in other tables
    If you wish to continue deleting this record <br />Kindly delete it's related record from other tables first
</h5>
