
@{
    ViewBag.Title = "NotFound";
}

<h2><span class="fs-1 fw-bold fs mb-5">404    </span>Page Not Found</h2>
<p>The requested Page does not exist on the server or it has been moved to another place.<br /> We are sorry for the inconvenience</p>

<div class="baton my-lg-4">@Html.ActionLink("Go Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })</div>
